body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Roboto Serif','cairo','sans-serif';
    overflow-x: hidden;
   
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    perspective: 800px;
   
}
html{
    height: 100%;
}
.clear{
    clear: both;
}
.header{
    z-index: 9;
    position: relative;
    color:white;
    padding-top:50px;
}
.header ul{
    list-style: none;
    display: inline-block;
    margin-left: 77px;
}
.header ul li{
    display: inline-block;
    margin-right: 20px;
}

.header ul li a{
    text-decoration: none;
    color:white;
    
}
.header ul li a:hover{
    color:white;
}

.navLink{
     position: relative;
     display: inline-block;
     margin-right: 20px;
}
.navLink::before{
    content:" ";
    position: absolute;
    left:0;
    bottom: 0;
    width:0;
    height: 2px;
    background-color:aliceblue;
    transition: .3s;
}
.navLink:hover::before{
    width:100%;
}
.toggle-menu{
    position: absolute;
    left: 50px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    display: none;
    
}

@media(max-width:991px){
   .list-menu .nav-ul{
        display: none;
    }
   .list-menu .open{
        background-color: white;
        width:300px;
        position: absolute;
        left: 75px;
        top: 90px;
        transition: .3s;
        display: block;
        padding:10px;
    }
    .list-menu .open li {
        list-style: none;
        text-align: left;
        display: block;
        background-color: #ddd;
        margin-bottom: 6px;
        }
        .list-menu  .open li a{
        text-decoration: none;
        color:black;
       }
    .toggle-menu{
        display: block;
    }
    .link-ul{
        display:none;
    }
   
}

#carouselExampleControls{
    top:0;
    width:100%;
    position: absolute;
    
}
.carousel img{
    height: 700px;
    width: 100%;
}
.carousel-caption {
    top:300px;
    left: 0;
}
.carousel .carousel-caption h3{
    font-size:100px;
}

.about{
    margin: 650px auto;
    height: 550px;
    background-color:#eee;
    padding-top:50px;
    
}
.about img{
    margin-right: 10px;
    /*position: absolute;*/
    width: 240px;
    height: 400px;
}
.about-main{
    line-height: 1.6;
}

.fur-img2{
 margin-top:10%;
}
@media(max-width:991px){
    .about img{
      position: relative;
      height: 200px;
      width:300px;
      border-radius: 30px;
    }
   .about-main{
    margin-bottom: 10px;
   }
   .about{
    height: auto;
    padding-bottom: 20px;
    text-align: center;
    
   }
   footer{
    
    padding-bottom: 10px;
   }
}

.offers {
    position: relative;
    top:-600px;
    text-align: center;
}
.offers button{
    transition: .3s;
    width:100%;
    color:#0D6EFD;
}
.offers button:hover{
  background-color: #0D6EFD;
  color:white;
}
.offers img{
    transition: .4s;
    box-shadow: 5px 10px 10px #333;
    margin-bottom:30px;
    margin-top:30px;
}
.offers img:hover{
   
    transform: translateZ(30px);
    
}

.offer-img{
    perspective: 600px;
    perspective-origin: center;

}

.food{
    position: relative;
    top:-550px;
    background-color:#fff;
    height: 500px;
    padding-top:30px;
}
.food img{
    position: absolute;
    width:300px;
    height: 400px;
    padding-top:0;
}
.food-img1{
    left:430px;
    top:100px;
}
.food p{
    line-height: 1.6;
    color:#9C9C9C;
   
}
.food button{
    background-color:transparent;
}
.food button:hover{
    color:#0D6EFD;
    }
   
    @media(max-width:991px){
        .food-des{
            padding-top:10px;
            width: 100%;
            
        }
        .food{
            height: auto;
            text-align: center ;
        }
        .food-img1{
            left: 0;
            top: 0;
        }
       .food img{
        position: relative;
        width: 300px;
        height: 330px;
        padding-left: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
       }
           
    }
.resev{
    position:absolute;
    bottom:330px;
    left: 0;
    width: 100%;
    
}
.resev-fo{ 
    border:2px solid #9C9C9C;
    padding:40px 0;

}
.resev h2{
    float:left;
}

.resev button{
    border-radius: 40px;
    width:300px;
    padding:15px 0;
    float: right;
    color:white;
    font-size: 20px;
    transition: .3s;
}
.resev button:hover{
    background-color:white;
    color:#0D6EFD;
}

@media(max-width:991px){
    .resev h2{
      font-size: 20px;
      }
    .resev{
        bottom:9%;
        margin-top: 20px;
    }
    .resev .btn-info{
        width:100px;
        font-size: 15px;
        padding:0 10px;
    }
    .resev-fo{
        height: auto;
        padding:10px 15px;
    }
}


footer{
    position: fixed;
    bottom: 0;
    padding-top:30px;
    line-height: 1.6;
    width: 100%;
}
footer h3, p{
    color:white;
}
footer ul li a{
    list-style: none;
    text-decoration: none;
    transition: .3s;
}
footer ul li a:hover{
    color:white;
}
footer input{
    height: 38px;
    
}
footer form{
    position: relative;
}
footer form button{
    position: absolute;
    right: 68px;
}
@media(max-width:991px){
    
    form {
        position: relative;
        text-align: left;
    }
    footer form button{
        position: relative;
    }
    
}





